@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border box;
  font-family: "Raleway";
  /* padding-left: 10px;
  padding-right: 10px; */
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.search-container {
  clip-path: polygon(
    46.22% 18.35%,
    100% 0%,
    100% 35%,
    100% 70%,
    100% 99.8%,
    50.56% 100%,
    0% 100%,
    0% 70%,
    0% 35%,
    0% 0%
  );
}

ul {
  list-style: none;
}

a:hover {
  opacity: 50%;
  transition: all 0.2s ease-in;
}
